@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Luckiest Guy", sans-serif;
}

h2 {
  font-size: 4rem;
}

h1.hidden {
  display: none;
}

main {
  min-height: 100vh;
  text-align: center;
  background-image: url("/multimedia/img/nuevoDiseno/background.jpg");
  background-size: cover;
}

section.panel.hidden {
  display: none;
}
/* CSS Panel Principal */

img.ahorcadoTitulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

img.logoAhorcado {
  width: 60%;
}
section.jugar {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 22rem;
  background-image: url("/multimedia/img/nuevoDiseno/botonInicio/onClick.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  color: white;
}

form input {
  height: 2rem;
  width: 17rem;
  padding: 0.5rem;
  margin-right: 0.3rem;
  border: none;
  background-color: transparent;
  background-image: url("/multimedia/img/nuevoDiseno/loginFondoTexto.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

form button {
  border: none;
  height: 1.7rem;
  padding: 0.2rem;
  background-color: transparent;
  background-image: url("/multimedia/img/nuevoDiseno/tecla.png");
  background-size: cover;
  background-position: center;
}

button.jugar {
  height: 4rem;
  width: 20rem;
  border: none;
  background-image: url("/multimedia/img/nuevoDiseno/botonInicio/idle.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

/* CSS Panel Juego */

section.juego img {
  width: 55%;
}

section.juego {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section.teclado {
  text-align: center;
  padding: 1rem;
  min-height: 20%;
  background-image: url("/multimedia/img/nuevoDiseno/fondoTeclado.png");
  background-repeat: repeat;
  background-size: cover;
  border-top: 5px solid rgba(0, 0, 0, 0.603);
  border-left: 5px solid rgba(0, 0, 0, 0.603);
  border-right: 5px solid rgba(0, 0, 0, 0.603);
  border-radius: 15px 15px 0 0;
  min-width: 100vw;
}

section.juego section.teclado button {
  background-image: url("/multimedia/img/nuevoDiseno/tecla.png");
  background-color: transparent;
  background-size: cover;
  color: white;
  font-weight: bold;
  border: none;
  width: 8%;
  padding: 3% 0;
  border-radius: 10px;
  margin: 0.2rem;
  box-shadow: 4px 4px 3px black;
}

section.juego button#salir {
  border: none;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  background-image: url("/multimedia/img/nuevoDiseno/botonSalir.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 5px;
}

section.puntuaciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.puntuaciones ul {
  list-style: none;
  font-size: 1.5rem;
}

li.score,
li.intentos {
  font-weight: bold;
  color: white;
}

section.puntuaciones ul li {
  padding-top: 1rem;
  color: white;
}

p.palabra {
  padding: 1rem 0rem;
  color: white;
}

/* CSS Puntuaciones */

section.puntuacionesTabla {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

h3 {
  margin-left: -1rem;
  margin-bottom: 1.5rem;
}

section.puntuacionesTabla aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/multimedia/img/nuevoDiseno/puntuacionesBack.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 70%;
  padding: 2rem 0 1rem 1rem;
}

button.botonPuntuaciones {
  background-image: url("/multimedia/img/nuevoDiseno/botonInicio/idle.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 4rem;
  width: 20rem;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}
